DATABASE_URL="file:./dev.db"
HARDWARE_DRIVER=sim
RDK_X5_AGENT_URL=http://192.168.128.10:8765
STEPFUN_API_KEY=
STEPFUN_MODEL=step-3.5-flash
STEPFUN_TIMEOUT_MS=8000
STEPFUN_ASR_MODEL=stepaudio-2.5-asr
STEPFUN_ASR_TIMEOUT_MS=15000
